beautifulsoup4
bs4
Flask
Flask-Session
Flask-SocketIO
gensim
huggingface-hub
jupyter
keras
matplotlib
networkx
nltk
numpy
pandas
regex
requests
scikit-learn
scipy
seaborn
sentence-transformers
spacy==3.4.1
stanza
# tensorflow
# tensorflow-hub
# tensorflow==2.10.0
# tensorflow-hub==0.12.0
textacy
textblob
tokenizers
torch
tqdm
transformers
urllib3
