.geeks {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }